
.icon-bar {
    margin-left: 60px;
    display:inline;
}

.link-icon {
    @include transition(all 0.35s $bounce-in);
    display:inline-block;
    margin: 5px 0px;
    padding:10px 25px;
    text-align: center;
    color: $font;
    text-decoration: none;
    background: rgba(0,0,0,0);
    i {
        display:block;
        font-size:30px;
        margin-bottom:5px;
    }
    span {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size:14px;
    }
    &:hover {
        background: $bg;
        color: $accent-brite;
        // padding:14px 19px;
        @include translateY(3px);
    }
}

.link-icon.active {
    background: $bg;
    color: $accent-brite;
    @include translateY(3px);
}

.searchbar {
    @include transition(all .35s ease-in);
    float: right;
    margin-top: 30px;
    display:inline-block;
    background:#000;
    opacity:.3;
    padding:15px 30px;
    font-size:24px;
    @include border-radius(30px);
}

.searchbar.extended {
    opacity:.6;
    width: 500px;
}

.search-text {
    display:inline;
    margin-left:20px;
    font-weight:300;
}

.projects-container {
    clear:both;
    width:100%;
}

// .project-item {
//     // @include transition(transform .35s $bounce-in);
//     @include transition(.35s $bounce-in all);
//     // @include transition(position .5s ease-in);
//     background:$bg;
//     color: $accent-brite;
//     float: left;
//     margin:5px;
//     text-align: center;
//     font-size:30px;
//     letter-spacing: -1px;
//     font-weight: 300;
//     width:270px;
//     height:270px;
//     &:hover {
//         @include scale3d(1.08,1.08,1);
//     }
// }


.project-item {
    // @include transition(transform .35s $bounce-in);
    // @include transition(position .5s ease-in);
    background:$bg;
    color: $accent-brite;
    text-align: center;
    margin:5px;
    font-size:30px;
    letter-spacing: -1px;
    font-weight: 300;
    width:250px;
    height:250px;
}



.project-item.i21 {
    width:510px;
    height:250px;
}
.project-item.i12 {
    width:250px;
    height:510px;
}
.project-item.i22 {
    width:510px;
    height:510px;
}


.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
