.project-details-page {
    margin-top: 40px;
}

.project-media-placeholder {
    width: 100%;
    background: $bg;
    color: $accent-brite;
    text-align: center;
    padding:300px 0;

}


.project-desc {
  max-height: 415px;
  min-height: 250px;
  overflow: auto;
  line-height: 26px;
}

.project-tag-container {
  margin: 0 0 20px 0;
}

.project-tag {
  display: inline-block;
  font-size:12px;
  background:$bg;
  padding:10px 15px;;
  margin:5px;
  color: $font;
}

.project-media img, .project-videos video {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  max-height: 750px;
}


.fixed-bottom-button {
    @include transition(all .35s $bounce-in);
    display: block;
    color: $font;
    background: darken($bg, 2%);
    // background: $bg;
    font-size:13px;
    font-weight:500;
    padding:10px 30px;
    position:fixed;
    bottom:0;
    left: 46%;
    margin:0 auto;
    text-decoration: none;
    &:hover {
        padding-bottom:16px;
    }
    &:visited { color: $font; }
}
