// @import "compass_twitter_bootstrap_awesome";
@import "portfolio_components";

html, body {
    height:100%;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: linear-gradient(color-stops($bodybg1, $bodybg2)) fixed;
    color: $font;
    font-size:20px;
}

h1,h2,h3,h4,h5 {
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $bg;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb {
    background: lighten($bg, 15%);
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: #AAA;
}

::-webkit-scrollbar-thumb:active {
    background: #888;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}

.bgbtn {
    @include transition(all .35s $bounce-in);
    display: inline-block;
    background: $bg;
    color: $accent;
    padding:10px 15px 10px 20px;
    text-decoration: none;
    font-weight:500;
    font-size:24px;
    i {
        margin-left:15px;
    }
    &:hover {
        color: $accent-brite;
        @include scale3d(1.15,1.15,1);
    }
}

.bgbtn-big {
    padding:20px;
    font-size:32px;
}

.btn-container {
  margin:50px 0;
}

.container {
    width:90%;
    // min-width:1600px;
    position: absolute;
    margin:0 auto;
    left: 0;
    right: 0;
}

.page-header {
    // background:$bg;
    margin:40px 0;
}

h1.page-title {
    font-size:85px;
    font-weight:100;
    margin-bottom:0px;
    display:inline;

    small {
      display: block;
      font-size:20px;
      font-weight:300;
      margin-bottom:50px;
    }
}

.fill-page {
  width:100%;
}

/* Page Animations */
.view-enter-setup, .view-leave-setup {
  @include transition(0.8s all ease-in-out);
  position:absolute;
  .fill-page {
    height:100%;
  }
  .hidden-animate {
    opacity:0;
  }
}

.view-enter-setup {
  opacity:0;
  top: -500px;
  @include translate3d(0,0,0);
  // @include translateX(75%);
}
.view-enter-setup.view-enter-start {
  // @include translateY(0px);
  top: 0px;
  opacity:1;
  @include translate3d(0,0,0);
}

.view-leave-setup {
  opacity:1;
  top: 0px;
  @include translate3d(0,0,0);
}
.view-leave-setup.view-leave-start {
  // @include translateX(-75%);
  opacity:0;
  top:1000px;
  @include translate3d(0,0,0);
}


/* Second Page Transition */

.view2-enter-setup, .view2-leave-setup {
  @include transition(0.85s all ease-in-out);
  position:absolute;
  .fill-page {
    height:100%;
  }
  .hidden-animate {
    opacity:0;
  }
}

.view2-enter-setup {
  opacity:0;
  right: -500px;
  @include scale3d(0.5,0.5,1);
  @include translate3d(0,0,0);
  // @include translateX(75%);
}
.view2-enter-setup.view2-enter-start {
  // @include translateY(0px);
  right: 0px;
  opacity:1;
  @include scale3d(1,1,1);
  @include translate3d(0,0,0);
}

.view2-leave-setup {
  opacity:1;
  right: 0px;
  @include translate3d(0,0,0);
}
.view2-leave-setup.view2-leave-start {
  // @include translateX(-75%);
  opacity:0;
  right:1000px;
  @include translate3d(0,0,0);
}


/* Fallback for the moment */
