<p>Ad Supervisors is a way of monitoring the traffic that your postings get on Third-Party websites that allow you to input some basic HTML like Craigslist, Facebook, Myspace, or Ebay.</p>

<p>
  <strong>The Problem:</strong> My Dad is an avid user of Craigslist who wanted to know:
</p>

<ul>
  <li>Who was viewing his Craigslist ads</li>
  <li>Who maliciously flagging his posts</li>
  <li>Which ads were performing better than others</li>
</ul>

<p>He can input some basic HTML like the image and anchor tags, but the server isn't in his control.</p>

<p>
  <strong>The Solution:</strong> So I created Ad Supervisors to let him see that information. It works by placing an HTML code for embedding images into his postings. Whenever someone views that post, they also view the image, dynamically created on the Ad Supervisors server, logging the request. When my Dad (or anyone else for that matter) wants to see this information, he heads to his dashboard and is able to keep tabs on all of his postings.
</p>
