<p>
    This is a Sublime Text 2 plugin that supports the features provided by the generator-angular yeoman generator. Instead of having to tab out of sublime, open up a terminal, then enter in exhaustingly long "yo angular:route myroute", then tab back into sublime, and finally open up the files that were created; just open up the command palette, type route, enter a name, and let the plugin do the rest.
</p>

<p>One of the beauties of Angular.js is just how easy and fast everything comes together. That is except for when you want to keep a very modular and organized structure, the creation of new components can be somewhat tedious, creating new files, and hooking them up in existing files elsewhere. Generator-Angular provides the tooling to solve this pain point and makes building angular applications a truly enjoyable experience from end to end.</p>
