<p>GRAB is my entry for the 2013 JS1K contest. It is a prototype for a complete game I'm currently working on that is built in under 1KB or 1024 Bytes.</p>

<p>You control a brave, little, glowing arrow and your mission is to gather up as many resources (glowing orbs) as possible. BUT every resource you pick up also spawns an enemy mine that drifts towards you at a speed inversely proportional to your distance from it. Weave your way in and out of the enemies that begin to clog the screen and rack up as many points as you can.</p>

<p>This was probably the most fun I've ever had writing several lines of code. After completion I feel like I almost know what it must have been like to program games when every single bit of code and memory counted. Imposing such strict limits on what you can do is actually a liberating experience; one that lets you work fully inside a defined space as opposed to an infinite one in which you bumble about.</p>

<p>There's something mildly amusing about the screenshots here being 8-20x bigger than the actual game file.</p>