<h4>What is GRAB?</h4>
<p>
    GRAB is a game for Android, iOS, Linux, Windows, and OS X where players control a spaceship by manuevering around to pick up resources and powerups. Along the way enemies will appear and attempt to halt your progress; Now seeing as your ship is a cargo vessel having no weapons of it's own to defend itself with, you'll have to use your wits and the environment to your advantage to continue gathering resources and dispatching your enemies.
</p>

<p>
    In GRAB because you don't have any weapons with which to attack the enemies, you have to use the environment to your advantage. Each enemy has a unique ability that they will use to try and destroy you. If you've been paying attention you can use these attacks against them. Drag enemy mines into other enemies and watch as they explode into a million little pieces. Or hey, if blackholes are more your speed try and position one between yourself and that horde of enemies.
</p>

<p>GRAB is currently in Alpha but will be coming to the Play Store and App store soon, with Desktop clients available shortly after.</p>

<h4>Technical Details:</h4>