<p>
    Greek is a Sublime Text 2 plugin that makes it easy to write mathematical expressions and then have them generate source language specific API calls.
</p>
<p>
     Generally when writing math the API between programming languages varies slightly and involves a lot of keystrokes due to the namespace and method name. This is great for the programming language and people reading the code, but it's tedious to write frequently. It would be great if we could write things like 12! + 3! to mean math.factorial(12) + math.factorial(3), you know...like in math!
</p>