<p>RNG stands for Random Number Generator. It is an incredibly simple application that does what the name says; It generates random numbers for you.</p>

<p>Oh, but it's so much more than that. Go check the market place for existing applications like this, you'll probably find hundreds or even thousands. What do they all have in common? Besides creating random numbers that is. They all look pretty shit to be honest. RNG is an attempt to make an application thats not just simple to use and does what it says, but is also fun and pretty to look at.</p>

<p>We may not always want just random numbers, so there's plenty of other random things that RNG is good at. Like:</p>
<ul>
    <li>Random Sequences</li>
    <li>Coin Toss</li>
    <li>Dice Rolling</li>
    <li>Lottery Numbers</li>
    <li>List Shuffling</li>
    <li>Lat/Long Points</li>
    <li>Colors / Color Palettes</li>
    <li>and anything else I think of</li>
</ul>