<p>
XOPL is a 3D visualization of all the currently confirmed exoplanets that have been discovered in the universe. Most people can't get interested in Science, Astronomy/Space specifically, because it's just not "sexy" enough. Go ahead check out the data that NASA provides here, sexy right?
</p>
<p>
<strong>The Goal:</strong> To encourage people to get interested in science and space by offering an aesthetically pleasing and engaging experience! Technically, to create a simulation driven by the data collected by NASA and other agencies, that people could explore and in the process learn more about other worlds and astronomy. Stars vary by size and color according to their mass, temperature, and radius.
</p>
<p>
<strong>Stuff to Come:</strong>
 Planets will be procedurally generated to match the data as closely as possible. This means rocky, terrestrial planets, will have terrain that can be zoomed into and explored by viewers. Gas and Ice Giants (the vast majority of discovered planets) will have varying textures depending on their classifications.
</p>