<div class="fill-page">

  <div class="page-header">

    <h1 class="page-title">About Me</h1>
  </div>

  <div class="row">

    <div class="copy-section span9">
      <p><strong>I'm Derek, a Software Engineer & Creative Coder.</strong></p>
      <p>I'm a 21 year old from Carlsbad, California (North San Diego) who is incredibly passionate about technology, programming, and education. I first got interested in coding when I was 12 thanks to an online game called Neopets. Unfortunately, I didn't start programming until I was 19. I absolutely love creating projects that usually fall into the boundaries of Creative Coding, Data Visualization, User Interface Programming, Game Development, Bots/Automation, and Security/Hacking. When I'm not programming I love playing video games, tinkering around with networks, building PCs, skateboarding/snowboarding, and taking online classes for free at Udacity, Coursera, and Khan Academy.</p>
      <p><strong>I primarily specialize in building client-side applications</strong></p>
      <p>I absolutely love writing applications utilizing <strong>JavaScript</strong>, <strong>Python</strong>, and <strong>Angular.js</strong>.</p>
    </div>

    <div class="span5 offset2 info-box">
      <h3>Where I work:</h3>
      <img src="/img/mozilla.png" alt="" class="center-image">
      <br>
      <hr>
      <h3>Additional Stuff</h3>
      <a href="http://stackoverflow.com/users/1163057/derekr">
                <img src="http://stackoverflow.com/users/flair/1163057.png" width="208" height="58" alt="profile for DerekR at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for DerekR at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
                </a>

                <a href="http://projecteuler.net" title="Profile for Derek Ries at Project Euler, a series of challenging mathematical / computer programming problems.">
                  <img src="http://projecteuler.net/profile/influenztial.png" width="200" height="60">
                </a>
      <p><i class="icon-github-sign"></i> <strong>Github:</strong> <a href="https://github.com/DerekRies">DerekRies</a></p>
      <p><i class="icon-twitter-sign"></i> <strong>Twitter:</strong> <a href="https://github.com/DerekRies">@derekries</a></p>
      <p><i class="icon-envelope"></i> <strong>Email:</strong> iamderekries (at) gmail.com</p>
    </div>

  </div>

</div>
