<div class="fill-page">
  <div class="row-fluid project-details-page">
    <div class="span6">
      <h1 class="page-title" fit-text>
        {{project.title}}
        <small>{{project.subtitle}}</small>
      </h1>

      <h5>Description:</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, itaque, voluptas, tempora repudiandae ab necessitatibus quisquam minima culpa in facere recusandae qui fuga ea quas mollitia amet saepe asperiores doloribus perspiciatis ex laborum accusantium praesentium provident quod maxime. Culpa, iste.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, optio perspiciatis sequi ex obcaecati reprehenderit.</p>

      <h5>Technologies:</h5>
      <p>Angular.js, Google App Engine, Python, JavaScript, Yeoman, Bootstrap</p>
      <div class="btn-container">
        <a href="/#!/projects" class="bgbtn">View Project Live <i class="icon-circle-arrow-right"></i></a>
        <a href="/#!/projects" class="bgbtn">Read More <i class="icon-circle-arrow-right"></i></a>
      </div>
    </div>
    <div class="span6">
      <h2>Media</h2>
      <div class="project-media-placeholder">
        <h2>Screenshot</h2>
      </div>
    </div>
  </div>

  <a class="fixed-bottom-button hidden-animate" href="/#!/projects">
    View More Projects &nbsp;<i class="icon-angle-up"></i>
  </a>

</div>
