<div class="fill-page">
  <div class="row-fluid project-details-page">
    <div class="span6">
      <h1 class="page-title" fit-text>
        {{project.name}}
        <small>{{project.tagline}}</small>
      </h1>
      <div class="project-tag-container">
        <span class="project-tag" ng-repeat="tech in project.technologies">{{tech}}</span>
      </div>

      <div class="project-desc" ng-include src="project.templateUrl"></div>

      <!-- <p>Angular.js, Google App Engine, Python, JavaScript, Yeoman, Bootstrap</p> -->
      <div class="btn-container">
        <a href="{{project.link}}" ng-show="project.link" class="bgbtn">View Project Live <i class="icon-circle-arrow-right"></i></a>
        <a href="{{project.blog}}" ng-show="project.blog" class="bgbtn">Read More <i class="icon-circle-arrow-right"></i></a>
        <a href="{{project.github}}" ng-show="project.github" class="bgbtn"><i class="icon-github"></i> Github <i class="icon-circle-arrow-right"></i></a>
      </div>
    </div>
    <div class="span6">
      <h2>Media</h2>
      <div class="project-media" ng-show="project.media.length">
        <ul rn-carousel rn-carousel-index="currentPicture">
          <li ng-repeat="media in project.media">
            <img ng-src="/img/{{media}}" alt="">
          </li>
        </ul>
        <div class="carousel-btn-container" ng-show="project.media.length > 1">
          <a href="" class="bgbtn small" ng-click="prevPicture()">Prev</a>
          <a href="" class="bgbtn small" ng-click="nextPicture()">Next</a>
        </div>
        <!-- <img ng-repeat="media in project.media" ng-src="/img/{{media}}" alt=""> -->
      </div>
      <div class="project-videos" ng-show="project.videos.length">
        <video autoplay="autoplay" loop="loop">
          <source ng-repeat="video in project.videos" ng-src="/video/{{video.src}}" type="{{video.type}}"></source>
        </video>
      </div>
    </div>
  </div>

  <a class="fixed-bottom-button hidden-animate" href="/#!/projects">
    View More Projects &nbsp;<i class="icon-angle-up"></i>
  </a>

</div>
